body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

#bingojuego {
    font-size: 3em;
    color: #0078d7;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: center;
    letter-spacing: 1.2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: #0066ff;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
}

.grid-item,
.binguero {

    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s;

}

.binguero {
    border: 1px solid #0078d7;

}


#bingueroboton {
    border-radius: 3px;
    background-color: transparent;
    border: 3px solid #0078d7;
    color: #434141;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;

}

.black {
    background-color: #434141;
    color: white;
}




#item-grid {
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s;
}


#titulobingo {
    margin-left: 20px;
    font-size: 8em;
    color: #0078d7;
    letter-spacing: 1.2em;

}


#botonesbinguerodiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
}

.botonesbinguero {
    border-radius: 3px;
    background-color: transparent;
    border: 3px solid #0078d7;
    color: #434141;
    font-size: 1.8em;
    cursor: pointer;

}

#bingobinguero {
    font-size: 4em;
    color: #0078d7;
    margin-bottom: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    letter-spacing: 1.2em;
}

#bingobinguero span {
    flex: 1;
    text-align: center;
}




@media (min-width: 300px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        background-color: #0078d7;

        width: 328px;
        max-width: 310px;
        max-width: 340px;
        margin: 0 auto;
        gap: 2px;
    }

    #bingojuego {
        font-size: 4em;
        color: #0078d7;
        margin-bottom: 20px;
        margin-left: 35px;
        text-align: center;
        letter-spacing: 0.3em;
    }

    .grid-item {
        padding: 16px;
        font-size: 1.7em;
    }


    .binguero {
        font-size: 1.7em;

    }

    #titulobingo {
        font-size: 1.5em;
        grid-template-columns: repeat(3, 1fr);
    }

    #bingobinguero {
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 768px) {
        #bingueroboton {
            border-radius: 3px;
            background-color: transparent;
            border: 3px solid #8cb5d6dc;
            color: #6d6b6b;
            font-size: 1.3em;
            text-align: center;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    #Pregunta {
        color: #434141;
        font-size: 1.5em;
        text-align: center;
    }

    #Noquedarse {
        width: 65px;

        border-radius: 3px;
        background-color: transparent;
        border: 3px solid #0078d7;
        color: #434141;
        font-size: 1.8em;
        text-align: center;
        cursor: pointer;

    }



    #Siquedarse {
        width: 65px;

        border-radius: 3px;
        background-color: transparent;
        border: 3px solid #0078d7;
        color: #434141;
        font-size: 1.8em;
        text-align: center;
        cursor: pointer;

    }

    #botonescartones {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 90px;
    }


    #centraresto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #bingoboton {
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 3px solid #0078d7;
        color: #434141;
        font-size: 2em;
        text-align: center;
        cursor: pointer;


    }

    #menutitulo {
        font-size: 6em;
        color: #0078d7;
    }

    #btnjugar {
        border-radius: 3px;
        background-color: transparent;
        border: 3px solid #0078d7;
        color: #434141;
        font-size: 1.8em;
        text-align: center;
        cursor: pointer;

    }

    .centrar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #seleccionrol {
        font-size: 1.5em;
        color: #0078d7;
        text-align: center;
    }

    #jugador {
        border-radius: 3px;
        background-color: transparent;
        border: 3px solid #0078d7;
        color: #434141;
        font-size: 1.3em;
        text-align: center;
        cursor: pointer;
    }

    .grid-pirata {
        color: white;
        text-align: center;
        font-size: 3.5em;
        transition: background-color 0.3s;
    }

    .binguero-pirata {
        padding: 30px;
        background-color: #d9d4d4;
        border: 1px solid #0078d7;
        font-size: 2.5em;
        text-align: center;
    }

    #lai,
    #lao,
    #lag,
    #lab {
        width: 29px;
    }

    #once {
        width: 30px;

    }

    #resultado {
        color: #434141;
        border: 1px solid #0078d7;
        font-size: 2.5em;
        text-align: center;
        justify-content: center;
        max-width: 1175px;


    }


}